<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Support the army of Ukraine today to save the world of tomorrow">
  <meta property="og:image" content="/assets/images/uploads/2022/07/en.jpg">
  <meta property="og:title" content="Independent UA — Let's Stop the War Together">
  <meta property="og:description" content="Support the Ukrainian army today to save the world of tomorrow">
  <meta name="google-site-verification" content="4DYwgg9pCyzKMGmMk3rqK02jRUuMKVOZJfNif-KYxSQ" />
  {% if page.title %}
    <title>{{ page.title }} – Independent UA</title>
  {% else %}
  <title>Independent UA</title>
  {% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap" rel="stylesheet">
  <meta name='robots' content='max-image-preview:large' />
  <link rel="alternate" href="https://independentua.com/" hreflang="en" />
  <link rel="alternate" href="https://independentua.com/pl/" hreflang="pl" />
  <link rel='dns-prefetch' href='//www.googletagmanager.com' />

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/swiper.min.css" />

  <!-- Google Analytics snippet added by Site Kit -->
  <script type='text/javascript' src='https://www.googletagmanager.com/gtag/js?id=GT-M38TRCT' id='google_gtagjs-js'
          async></script>
  <script id="google_gtagjs-js-after" type="text/javascript">
  window.dataLayer = window.dataLayer || [];

  function gtag() {
      dataLayer.push(arguments);
  }

  gtag('set', 'linker', {"domains": ["independentua.com"]});
  gtag("js", new Date());
  gtag("set", "developer_id.dZTNiMT", true);
  gtag("config", "GT-M38TRCT");
  </script>

  <!-- End Google Analytics snippet added by Site Kit -->
  <link rel="icon" href="/assets/images/uploads/2022/06/cropped-icon-150x150.png" sizes="32x32" />
  <link rel="icon" href="/assets/images/uploads/2022/06/cropped-icon-300x300.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="/assets/images/uploads/2022/06/cropped-icon-300x300.png" />
  <meta name="msapplication-TileImage" content="/assets/images/uploads/2022/06/cropped-icon-300x300.png" />
</head>
