<section class="monobank">
  <!--<a href="https://send.monobank.ua/jar/6hvYGbeVoM">Donate via&nbsp;Monobank 🇺🇦 Збір на&nbsp;Монобанк</a>-->
  <p>Likwidatorzy Fundacji Independent&nbsp;UA informuję, że w&nbsp;związku z&nbsp;wyczerpaniem&nbsp;się majątku i&nbsp;środków finansowych Fundator podjął uchwałę o&nbsp;likwidacji Fundacji. Wierzyciele proszeni&nbsp;są o&nbsp;zgłaszanie swoich wierzytelności na&nbsp;adres Fundacji w&nbsp;terminie 1&nbsp;miesiąca od&nbsp;dnia ukazania&nbsp;się tego ogłoszenia.</p>
</section>
