<div class="swiper">
  <div class="container-header mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/10/0110.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-011023 %}
        </p>
        <p class="swiper-date">01 {% t date.oct %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/09/1509.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-150923 %}
        </p>
        <p class="swiper-date">15 {% t date.sep %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/07/0507.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-050723 %}
        </p>
        <p class="swiper-date">05 {% t date.jul %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/07/0107.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-010723 %}
        </p>
        <p class="swiper-date">01 {% t date.jul %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/06/2506.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-250623 %}
        </p>
        <p class="swiper-date">25 {% t date.jun %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/06/2006.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-200623 %}
        </p>
        <p class="swiper-date">20 {% t date.jun %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/06/0106.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-010623 %}
        </p>
        <p class="swiper-date">01 {% t date.jun %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/05/1505.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-150523 %}
        </p>
        <p class="swiper-date">15 {% t date.may %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/04/0504.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-050423 %}
        </p>
        <p class="swiper-date">05 {% t date.apr %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/02/2002.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-200223 %}
        </p>
        <p class="swiper-date">20 {% t date.feb %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/02/0102.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-010223 %}
        </p>
        <p class="swiper-date">01 {% t date.feb %} 2023</p>
      </div>

      <div class="swiper-slide">
        <img src="/assets/images/uploads/2023/01/2001.jpg" alt="">
        <p class="swiper-title">
          {% t slider.i-200123 %}
        </p>
        <p class="swiper-date">20 {% t date.jan %} 2023</p>
      </div>
    </div>
  </div>
</div>
